<!--<div class="chart-wrapper">
  <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
  </canvas>
</div>-->

<div class="chart-container">
  <canvas id="chart"
          [attr.aria-label]="ariaLabel"
  ></canvas>
</div>
