<p>
  Select the packages to compare, not selecting any package will compare them all
</p>

<mat-form-field *ngFor="let i of getFieldNumberRange();">
  <mat-label>Package {{i + 1}}</mat-label>
  <input matInput type="text" placeholder="Ex. sudo" [(ngModel)]="fieldsValues[i]" required>
  <button *ngIf="canRemove()" (click)="remove(i)" mat-button matSuffix mat-icon-button aria-label="Clear">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<button (click)="add()"
        mat-button matSuffix mat-icon-button aria-label="Add">
  <mat-icon>plus_one</mat-icon>
</button>
