<div class="mode-container">
  <mat-card class="selection-card" (click)="click('distro-data-comparator')">
    <mat-card-header>
      <mat-card-title>Distro comparing</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        TODO Description
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="selection-card" (click)="click('package-comparator')">
    <mat-card-header>
      <mat-card-title>Package comparing</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        TODO Description
      </p>
    </mat-card-content>
  </mat-card>
</div>
