.mode-container {
  padding: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.selection-card {
  flex: 1 1 0;
  margin-left: 5px;
  margin-right: 5px;
}

.mat-card-title {
  text-align: center;
  font-size: 30px;
}
