<div *ngFor="let v of stepperEntries">
  <ng-template appStepper></ng-template>
</div>

<button mat-raised-button color="primary" (click)="onOkClick()">Ok</button>
<button mat-raised-button color="warn" (click)="onCancelClick()">Cancel</button>
