<mat-horizontal-stepper [linear]="false" #stepper>

  <mat-step *ngFor="let entry of stepperEntries; let i = index">
    <ng-template matStepLabel>{{entry.label}}</ng-template>
    <ng-template appStepper></ng-template>
    <div>
      <button *ngIf="i !== 0" mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext (click)="onNextClick(i)">Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>
      TODO: recap
    </p>
    <div *ngFor="let entry of chartConfigService.getChartAsArray()">
      {{entry}}
    </div>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="onOkClick()">Ok</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>
