<div *ngIf="mode()">
  <app-date-selection [label]="'From cve year'"
                      [key]="'fromCveIdYear'"
                      [options]="yearsRange"
  ></app-date-selection>
  <app-date-selection [label]="'To cve year'"
                      [key]="'toCveIdYear'"
                      [options]="yearsRange"
  ></app-date-selection>
  <mat-checkbox (change)="fixedCveOnlyCheckboxChange()" [(ngModel)]="fixedCveOnlyChecked">Fixed cve only</mat-checkbox>
</div>

<div *ngIf="!mode()">
  <app-date-selection [label]="'Year'"
                      [key]="'year'"
                      [options]="yearsRange"
                      [required]="true"
  ></app-date-selection>
  <app-date-selection [label]="'Month'"
                      [key]="'month'"
                      [options]="monthsRange"
  ></app-date-selection>
  <app-date-selection [label]="'Week Number'"
                      [key]="'weekNumber'"
                      [options]="weekNumbersRange"
  ></app-date-selection>
</div>
