<mat-form-field>
  <mat-label>Distro</mat-label>
  <mat-select (selectionChange)="selectionChange($event)" value="{{selectedDistro}}">
    <mat-option *ngFor="let distro of availableDistros" value="{{distro}}">
      {{distro}}
    </mat-option>
  </mat-select>
</mat-form-field>
