<table mat-table [dataSource]="distroComparatorServices" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Host Column -->
  <ng-container matColumnDef="host">
    <th mat-header-cell *matHeaderCellDef> Host</th>
    <td mat-cell *matCellDef="let element"> {{element.host}} </td>
  </ng-container>

  <!-- Port Column -->
  <ng-container matColumnDef="port">
    <th mat-header-cell *matHeaderCellDef> Port</th>
    <td mat-cell *matCellDef="let element"> {{element.port}} </td>
  </ng-container>

  <!-- Web Socket Path Column -->
  <ng-container matColumnDef="wsPath">
    <th mat-header-cell *matHeaderCellDef> Web Socket Path</th>
    <td mat-cell *matCellDef="let element"> {{element.wsPath}} </td>
  </ng-container>

  <!-- Selection Column -->
  <ng-container matColumnDef="selection">
    <th mat-header-cell *matHeaderCellDef> Selection</th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="selectDistroComparator(element)"> Select</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
