<mat-form-field *ngFor="let i of getFieldNumberRange();">
  <mat-label>Distro {{i + 1}}</mat-label>
  <mat-select (selectionChange)="selectionChange($event, i)" [value]="fieldsValues[i]">
    <mat-option *ngFor="let distro of getNotSelectedDistros(i)" [value]="distro">
      {{distro}}
    </mat-option>
  </mat-select>
  <button *ngIf="canRemove()" (click)="remove(i)"
          mat-button matSuffix mat-icon-button aria-label="Clear">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<!-- show the possibility to add another distro to the comparison
only if there are not already selected distros among the available ones --->
<button *ngIf="fieldsValues.length < availableDistros.length"
        (click)="add()"
        mat-button matSuffix mat-icon-button aria-label="Add">
  <mat-icon>plus_one</mat-icon>
</button>
