<mat-form-field class="example-full-width">
  <mat-label>{{label}}</mat-label>
  <mat-select (selectionChange)="onSelectionChange($event.value)" [value]="value" [required]="required">
    <mat-option *ngFor="let option of options" [value]="option">
      {{option}}
    </mat-option>
  </mat-select>
</mat-form-field>
