<mat-form-field>
  <mat-label>Y axis mode</mat-label>
  <mat-select (selectionChange)="onSelectionChange($event.value)" [value]="getPreviousConfig()">
    <mat-option *ngFor="let option of yAxisValues" [value]="option">
      {{option.value}}
    </mat-option>
  </mat-select>
</mat-form-field>
